name: SonarCloud

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - '**'

jobs:
  sonarcloud:
    runs-on: ubuntu-latest

    steps:
      # Étape 1 : récupérer le code du dépôt
      - uses: actions/checkout@v3

      # Étape 2 : configurer Java si nécessaire (pour SonarScanner)
      - name: Set up JDK
        uses: actions/setup-java@v3
        with:
          java-version: '17'

      # Étape 3 : mettre en cache les fichiers Sonar pour accélérer
      - name: Cache SonarCloud packages
        uses: actions/cache@v3
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar

      # Étape 4 : lancer l'analyse SonarCloud
      - name: SonarCloud / SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@aa494459d7c39c106cc77b166de8b4250a32bb97
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          organization: DimitriGerson      # Nom de ton organisation SonarCloud
          projectKey: DimitriGerson_Houblon          # Clé du projet sur SonarCloud
